/******************************************
 *
 * Basic styles
 *
 *****************************************/

:root {
    color-scheme: light dark;
}

body,
.container {
    margin: auto;
    width: 70%;
    font-family: "Oswald",
        "Helvetica",
        "Arial",
        "Sans-Serif";
}

main {
    text-align: center;
}

a {
    text-decoration: none;
    color: #999;
    letter-spacing: 1px;
}

.container a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 5vw;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    letter-spacing: 0.25vw;
}

p {
    font-size: 1.125em;
    line-height: 1.6em;
    color: #333;
    text-align: center;

}

/* https://css-tricks.com/css-link-hover-effects/ */
.buttons * {
    height: 2vw;
    background-image: linear-gradient(to right,
            #beb8b0,
            #beb8b0 50%,
            #999 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.buttons *:before {
    content: '';
    background: #999;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.buttons *:hover {
    background-position: 0;
}

.buttons *:hover::before {
    width: 100%;
}

/******************************************
 *
 * Navigation
 *
 *****************************************/

nav ul {
    padding: 1em 0em 0em 0em;
}

nav ul li {
    margin-right: 2em;
}

nav ul,
footer ul {
    list-style: none;
    font-weight: 800;
}

nav ul li,
footer ul li {
    display: inline;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
    text-align: center;
}

footer ul {
    padding: 0;
    margin: 0;
}

/******************************************
 *
 * Custom classes
 *
 *****************************************/

.lastfm * {
    text-align: center;
    width: 70%;
    height: 100%;
}

/******************************************
 *
 * Modify stylings based on displays.
 *
 *****************************************/

@media (prefers-color-scheme: dark) {
    p {
        color: #beb8b0;
    }
}

@media (prefers-color-scheme: light) {
    .buttons * {
        background-image: linear-gradient(to right, #999, #999 50%, #000 50%);
    }
}

@media (max-width: 560px) {
    p {
        font-size: .75em;
    }

    nav {
        text-align: center;
        padding: 0vw 2vw 0vw 2vw;
        margin: 0vw 2vw 0vw 2vw;
        width: 100%;
    }

    footer {
        overflow-wrap: anywhere;
    }
}

@media (max-width: 1280px) {
    .lastfm * {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }

    .buttons * {
        height: 4vw;
    }
}
